<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plane_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,200}</string>
                <key>spriteSourceSize</key>
                <string>{356,200}</string>
                <key>textureRect</key>
                <string>{{0,0},{356,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,200}</string>
                <key>spriteSourceSize</key>
                <string>{356,200}</string>
                <key>textureRect</key>
                <string>{{356,0},{356,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>plane.png</string>
            <key>size</key>
            <string>{712,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7589a1dc58e52763221593a87738d4b:33ee6fa15d70d33f792da0fa2b0f9459:592bb08bfb59882b4fb915a6935c1201$</string>
            <key>textureFileName</key>
            <string>plane.png</string>
        </dict>
    </dict>
</plist>
