<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rocket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,163}</string>
                <key>spriteSourceSize</key>
                <string>{100,163}</string>
                <key>textureRect</key>
                <string>{{0,0},{100,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rocket_tail_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,210}</string>
                <key>spriteSourceSize</key>
                <string>{132,210}</string>
                <key>textureRect</key>
                <string>{{100,0},{132,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rocket_tail_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,210}</string>
                <key>spriteSourceSize</key>
                <string>{132,210}</string>
                <key>textureRect</key>
                <string>{{232,0},{132,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rocket_tail.png</string>
            <key>size</key>
            <string>{364,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e0722933d32e9ab7c967621b9994f30:0bec3a1f3c823dafbe41693656fbb64a:6fa6fc3a8904cadbea0b084d2ea6127d$</string>
            <key>textureFileName</key>
            <string>rocket_tail.png</string>
        </dict>
    </dict>
</plist>
