<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>straight_double_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,242}</string>
                <key>spriteSourceSize</key>
                <string>{258,242}</string>
                <key>textureRect</key>
                <string>{{0,0},{258,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_double_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,242}</string>
                <key>spriteSourceSize</key>
                <string>{258,242}</string>
                <key>textureRect</key>
                <string>{{258,0},{258,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>straight_double.png</string>
            <key>size</key>
            <string>{516,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:571a79f6337f00495084ea55c99d332a:528e2c447adf04a81b636b6000edb516:44b3058b20c1c7eb4b276f567f7e858c$</string>
            <key>textureFileName</key>
            <string>straight_double.png</string>
        </dict>
    </dict>
</plist>
