<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>straight_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,240}</string>
                <key>spriteSourceSize</key>
                <string>{260,240}</string>
                <key>textureRect</key>
                <string>{{0,0},{260,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,240}</string>
                <key>spriteSourceSize</key>
                <string>{260,240}</string>
                <key>textureRect</key>
                <string>{{260,0},{260,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>straight.png</string>
            <key>size</key>
            <string>{520,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f40372b3bbf6f8217063a74bb58a123d:e4b8b499c7b7ee0ac05eae8e617c2e46:203c8de14f8e1bfa5c3ad2e572454a03$</string>
            <key>textureFileName</key>
            <string>straight.png</string>
        </dict>
    </dict>
</plist>
