<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,308},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>buchupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{151,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,42}}</string>
                <key>sourceSize</key>
                <string>{151,42}</string>
            </dict>
            <key>bujiabei.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,129},{151,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,42}}</string>
                <key>sourceSize</key>
                <string>{151,42}</string>
            </dict>
            <key>bujiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,46},{151,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,42}}</string>
                <key>sourceSize</key>
                <string>{151,42}</string>
            </dict>
            <key>bujiao_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{109,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,57}}</string>
                <key>sourceSize</key>
                <string>{109,57}</string>
            </dict>
            <key>bujiaofen.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,2},{151,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,42}}</string>
                <key>sourceSize</key>
                <string>{151,42}</string>
            </dict>
            <key>bumingpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,173},{151,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,42}}</string>
                <key>sourceSize</key>
                <string>{151,42}</string>
            </dict>
            <key>buqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,46},{151,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,42}}</string>
                <key>sourceSize</key>
                <string>{151,42}</string>
            </dict>
            <key>buyao_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,261},{109,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,57}}</string>
                <key>sourceSize</key>
                <string>{109,57}</string>
            </dict>
            <key>card_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,320},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>chongxuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,90},{151,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,42}}</string>
                <key>sourceSize</key>
                <string>{151,42}</string>
            </dict>
            <key>chupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,90},{151,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,42}}</string>
                <key>sourceSize</key>
                <string>{151,42}</string>
            </dict>
            <key>count.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,308},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>dizhu_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,308},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>dizhu_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{83,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,115}}</string>
                <key>sourceSize</key>
                <string>{83,115}</string>
            </dict>
            <key>dizhu_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,320},{49,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,27}}</string>
                <key>sourceSize</key>
                <string>{49,27}</string>
            </dict>
            <key>jiabei.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,217},{151,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,42}}</string>
                <key>sourceSize</key>
                <string>{151,42}</string>
            </dict>
            <key>jiaodizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{151,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,42}}</string>
                <key>sourceSize</key>
                <string>{151,42}</string>
            </dict>
            <key>mingpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,129},{151,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,42}}</string>
                <key>sourceSize</key>
                <string>{151,42}</string>
            </dict>
            <key>name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,261},{105,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,59}}</string>
                <key>sourceSize</key>
                <string>{105,59}</string>
            </dict>
            <key>nongmin_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,308},{49,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,27}}</string>
                <key>sourceSize</key>
                <string>{49,27}</string>
            </dict>
            <key>one.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,129},{151,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,42}}</string>
                <key>sourceSize</key>
                <string>{151,42}</string>
            </dict>
            <key>open.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,155},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>qiangdizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,134},{151,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,42}}</string>
                <key>sourceSize</key>
                <string>{151,42}</string>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,308},{109,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,57}}</string>
                <key>sourceSize</key>
                <string>{109,57}</string>
            </dict>
            <key>ready_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,178},{151,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,42}}</string>
                <key>sourceSize</key>
                <string>{151,42}</string>
            </dict>
            <key>room.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,205},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>score_room_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{332,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,125}}</string>
                <key>sourceSize</key>
                <string>{332,125}</string>
            </dict>
            <key>three.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,134},{151,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,42}}</string>
                <key>sourceSize</key>
                <string>{151,42}</string>
            </dict>
            <key>time_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,282},{68,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,71}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,222},{151,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,42}}</string>
                <key>sourceSize</key>
                <string>{151,42}</string>
            </dict>
            <key>two.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,178},{151,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,42}}</string>
                <key>sourceSize</key>
                <string>{151,42}</string>
            </dict>
            <key>txt_basescore.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,266},{146,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,40}}</string>
                <key>sourceSize</key>
                <string>{146,40}</string>
            </dict>
            <key>txt_top_times.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,266},{146,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,40}}</string>
                <key>sourceSize</key>
                <string>{146,40}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,266},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>yaobuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,222},{151,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,42}}</string>
                <key>sourceSize</key>
                <string>{151,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddzRoom.png</string>
            <key>size</key>
            <string>{692,368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0412a497f1e1ed0a953e662e8873e34a:ed8807d40dedd26fba8f16a67be29017:bd19d3fd2b39970ba170ca1109bb81bf$</string>
            <key>textureFileName</key>
            <string>ddzRoom.png</string>
        </dict>
    </dict>
</plist>
