<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2C.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>2D.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>2H.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>2S.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>3C.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>3D.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,2},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>3H.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>3S.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,2},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>4C.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,2},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>4D.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,2},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>4H.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,2},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>4S.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,2},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>5C.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,2},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>5D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>5H.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,184},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>5S.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,184},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>6C.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,184},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>6D.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,184},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>6H.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,184},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>6S.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,184},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>7C.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,184},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>7D.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,184},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>7H.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,184},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>7S.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,184},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>8C.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,184},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>8D.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,184},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>8H.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>8S.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,366},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>9C.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,366},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>9D.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,366},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>9H.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,366},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>9S.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,366},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>AC.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,366},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>AD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,366},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>AH.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,366},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>AS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,366},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>BB.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,366},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>JC.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,366},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>JD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,366},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>JH.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>JS.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,548},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>KC.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,548},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>KD.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,548},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>KH.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,548},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>KS.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,548},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>QC.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,548},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>QD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,548},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>QH.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,548},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>QS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,548},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>SS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,548},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>TC.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,548},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>TD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,548},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>TH.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>TS.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,730},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,730},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card_poker.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8c2da8b02bbb8ac05744a0571014a7a:e5603f013c992cfd1d999d2cf32e4db6:ded50fe302607330ed35a4d44d04a582$</string>
            <key>textureFileName</key>
            <string>card_poker.png</string>
        </dict>
    </dict>
</plist>
